<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to the Artistry Portal!</h1>
    <% if (user) { %>
        <h1>Welcome to the app, <%= user.username %>!</h1>
        <p>
          <a href="/portfolios/new">Start Building Your Artist Profile</a>
            <a href="/auth/sign-out">Sign Out</a>
          </p>
        <% } else { %>
        <h2>You are currently a guest. Sign Up or Sign In to start creating</h2>
        <p>
          <a href="/auth/sign-up">Sign up</a> or <a href="/auth/sign-in">sign in</a>.
        </p>
        <% } %>
        <p>
        <br>

        <a href="/portfolios">Explore the Portal</a>
        </p>
        </body>
</html>