body {
    font-family: Arial, sans-serif;
    background-image: url('../media/3eeaa26d248b53f0e4cd8a738b7d289f.gif'); 
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  /* Title styling */
  h1 {
    color: #fff; 
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  /* Form container styling */
  form {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
  }
  
  /* Label styling */
  label {
    display: block;
    margin-bottom: 10px;
    font-size: 1rem;
    color: #333;
  }
  
  /* Input fields styling */
  input {
    width: 100%; 
    padding: 12px 15px; 
    margin-bottom: 15px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box; 
  }
  
  /* Button styling */
  button {
    width: 100%;
    padding: 12px;
    background-color: #000000; 
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    box-sizing: border-box; 
  }
  
  button:hover {
    background-color: #a0458c; 
  }
  